body{
    font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background: url(FondoCodigo3.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	font-family: sans-serif;
}

.navegacion{
	background: teal;
	padding-top: 1px;
	min-width: 1100px;
}


.menu {cursor: pointer;}


.navegacion ul {list-style: none;}


.menu > li{display: inline-block;}


.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: wheat;
	font-family: 'open sans';
	text-decoration: none;
	padding: 15px  160px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}


.menu li a:hover{
	color: black;
	transition: all .9s;
}


.submenu{
	position: absolute;
	background: teal;
	right: 0px;
	width: 33%;
	content-visibility: auto;
	opacity: 0;
	transition: opacity 3.1s;
	min-width: 300px;
}


.submenu li a{
	display: block;
	padding: 25px;
	color: white;
	font-family:'open sans';
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}


.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}



.parrafo{
	z-index: 1;
	width: 700px;
	height: 1700px;
	padding: 3px 2px;
	font-size: 15px;
	line-height: 1.5;
	background: rgb(68, 166, 177);
	margin-top: 88px;
	box-shadow: 1px 5px 25px rgba(0, 0, 0, 0.727);
	border-radius: 5px;
	margin: 50px 18%;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
 }
 .parrafo img{
	border-radius: 5px;
	float: left;
	margin-right: 12px;
 }